/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

.navigation {
    display: flex;
}

.services-icons {
    display: flex;
}

.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-image img {
    height: 200px;
    margin-right: 20px;
}

.footer .container {
    display: flex;
}

.social ul {
    list-style: none;
    display: flex;
}
/* Navigation */

