/* Variables */

$font-header: 'Oswald', sans-serif;
$font-text: 'Roboto Serif', serif;
$font-logo: 'Yesteryear', cursive;

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
}

p {
    font-family: $font-text;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

.page-title {
    text-align: center;
    margin-top: 0;
    padding-top: 100px;
    margin-bottom: 80px;
    font-family: $font-header;
}

/* Welcome */

.main {
    height: 100vh;
}

.welcome-page {
    height: 50vh;
    background: url(../images/main.jpg) no-repeat center center fixed;
    background-size: cover;
    background-attachment: scroll;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation {
    display: flex;
}

.nav-title {
    font-family: $font-logo;
}

/* Services */

.services-icons {
    display: flex;
}

.icons-item {
    text-align: center;
}

/* Portfolio */

.portfolio {
    height: 100vh;
    background-color: rgb(243, 242, 242);
}

.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-image img {
    height: 200px;
}

.portfolio-item {
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

/* Footer */

.footer .container {
    display: flex;
}

.social ul {
    list-style: none;
    display: flex;
}

.social i {
    font-size: 30px;
    margin: 0 5px;
    color: #000;
}