/* Variables */

$font-header: 'Oswald', sans-serif;
$font-text: 'Roboto Serif', serif;
$font-logo: 'Yesteryear', cursive;

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
}

p {
    font-family: $font-text;
    font-weight: 100;
    font-size: 14px;
    margin: 0 0 40px 0;
}

h3 {
    margin: 40px 0 0 0;
}

h4 {
    margin-bottom: 0;
    font-size: 18px;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

.page-title {
    text-align: center;
    margin-top: 0;
    padding-top: 60px;
    margin-bottom: 0;
    font-family: $font-header;
    font-size: 36px;
}

.page-title p {
    font-style: italic;
    margin-bottom: 100px;
}

.portfolio-description p {
    font-style: italic;
}

button {
    background-color: rgb(247, 210, 1);
    border: none;
    padding: 15px 45px;
    border-radius: 3px;
    font-family: $font-header;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
}

.icons-item i {
    background-color: rgb(247, 210, 1);
    font-size: 40px;
    padding: 20px;
    color: white;
    border: none;
    border-radius: 50px;
    margin-bottom: 10px;
}

/* Navigation */

.welcome-page {
    height: 50vh;
    background: url(../images/main2.jpg) no-repeat center center fixed;
    background-size: cover;
    background-attachment: scroll;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.nav-title {
    font-family: $font-logo;
    margin-left: 10px;
    color: rgb(224, 208, 56);
    font-size: 60px;
}

.nav-list a {
    color: white;
    margin-left: 20px;
}

/* Splash*/

.splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: white;
}

.splash-title {
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    margin: 0;
}

.splash-subtitle {
    font-size: 80px;
    margin: 0 0 20px 0;
}

/* Services */

.services-page {
    height: 45vh;
}

.services-icons {
    display: flex;
    margin-top: 0;
}

.icons-item {
    text-align: center;
    margin: 0 8px;
}

/* Portfolio */

.portfolio {
    height: 95vh;
    background-color: rgb(243, 242, 242);
}

.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-image img {
    height: 200px;
}

.portfolio-item {
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.portfolio h3 {
    padding-top: 60px;
}

/* Footer */

.footer {
    padding: 40px 0;
}

.copyright {
    margin-left: 80px;
}

.social {
    margin-left: 100px;
}

.footer .container {
    display: flex;
    align-items: center;
}

.social ul {
    list-style: none;
    display: flex;
}

.social i {
    font-size: 30px;
    margin: 0 5px;
    color: #000;
}